footer {
  align-items: center;
  background-color: #1d4552;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

.btn-finish-recipes {
  bottom: 0;
  margin-left: 100px;
  position: fixed;
}
