footer {
  align-items: center;
  background-color: #1d4552;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

button {
  background-color: #b9b4b4;
  border: none;
  color: white;
  cursor: pointer;
  height: 70px;
  margin: 8px;
  padding: 14px;
  width: 70px;
}
